.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 50px;
}

.App-header {
  background-color: #3e50b4;
  height: 70px;
  padding: 10px;
  color: white;
}
.btn {
  background-color: #3e50b4;
  height: 40px;
  width: 90px;
  padding: 10px;
  color: white;
}
.App-intro {
  font-size: large;
}
ul.navigasi li {
    float: left;
    padding: 0 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
